@import "../../../variables.scss";

.button {
  border: 5px solid $customRed;
  color: $customRed;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  &:hover {
    transform: scale(1.2, 1.2);
  }
}
