@import "../../../variables.scss";

.button {
  border: 5px solid $customGreen;
  color: $customGreen;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  &:hover {
    transform: scale(1.2, 1.2);
  }
  &:disabled,
  &[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  &_saved {
    background-color: $customGreen;
    color: white;
    &:hover {
      transform: none;
      cursor: default;
    }
  }
}
