@import "../../../variables.scss";

.card {
  height: $card-size;
  width: $card-size;
  padding: 2rem;
  background-image: linear-gradient(65deg, $customGreen, $customMint);
  border-radius: 1rem;
  color: $customGray;
  text-align: justify;
  transition: all 0.3s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  p {
    text-align: center;
    margin: 0;
  }

  &__english {
    font-size: 2rem;
    font-weight: bold;
    color: $customBlue;
  }
  &__transcription {
    font-size: 1.5rem;
    color: $customBlack;
  }
  &__russian {
    font-size: 2rem;
    font-weight: bold;
    color: $customRed;
  }
}
