@import "../../variables.scss";

header {
  padding-top: 2rem;
  background-color: #71a4cd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.wrapper {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 500px;
  max-width: 100%;
}
.horizontal_nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  a {
    padding: 5px;
    text-decoration: none;
  }
  a:hover,
  a:active {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  }
}
.table {
  color: $customGreen;
  font-weight: 700;
}
.carousel {
  color: $customRed;
  font-weight: 700;
}
