@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$customBlue: #033991;
$customRed: #b10b00;
$customGreen: #349b32;
$customYellow: #e2b011;
$customMint: #57f9d6;
$customGray: #9ca3af;
$customBlack: #1f2937;

$mainFont: "Roboto", sans-serif;

$card-size: 23rem;
